::backdrop {
  background-color: #504d4d;
  opacity: 0.85;
}
.dialog {
  background-color: #1e1e1e;
  border: none;
  border-radius: 1em;
  padding: 1em;
}
.close-btn-wrapper {
  text-align: end;
}
.close-btn {
  border: none;
  background: none;
  cursor: pointer;
}
